In [84]:
import numpy as np

In [85]:
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")

In [86]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [87]:
#create X (Features matrix)
X = heart_disease.drop("target",axis=1)

#create Y (labels)
y = heart_disease["target"]

In [88]:
#choosing right model & hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100)
#we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [89]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train ,y_test = train_test_split(X,y, test_size=0.2)  #80 for training and 20 for testing

In [90]:
clf.fit(X_train,y_train);

In [91]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
120,64,0,0,130,303,0,1,122,0,2.0,1,2,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2
183,58,1,2,112,230,0,0,165,0,2.5,1,1,3
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,56,1,0,125,249,1,0,144,1,1.2,1,1,2
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2
91,57,1,0,132,207,0,1,168,1,0.0,2,0,3
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
141,43,1,0,115,303,0,1,181,0,1.2,1,0,2

In [92]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
282,59,1,2,126,218,1,1,134,0,2.2,1,1,1
158,58,1,1,125,220,0,1,144,0,0.4,1,4,3
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3
267,49,1,2,118,149,0,0,126,0,0.8,2,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3
171,48,1,1,110,229,0,1,168,0,1.0,0,0,3
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2

In [93]:
# #make a prediction
# y_label = clf.predict(np.array([0,2,3,4]))

In [94]:
y_preds = clf.predict(X_test)
y_preds

array([0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1], dtype=int64)

In [95]:
y_train

120    1
2      1
165    0
183    0
71     1
      ..
214    0
287    0
91     1
142    1
141    1
Name: target, Length: 242, dtype: int64

In [96]:
y_test

282    0
158    1
122    1
235    0
267    0
      ..
19     1
227    0
171    0
181    0
164    1
Name: target, Length: 61, dtype: int64

In [97]:
# 4. evaluate the model
clf.score(X_train , y_train)

1.0

In [98]:
clf.score(X_test, y_test)

0.8032786885245902

In [108]:
from sklearn.metrics import classification_report, confusion_matrix ,accuracy_score

In [110]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.80      0.74      0.77        27
           1       0.81      0.85      0.83        34

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.80      0.80      0.80        61

In [112]:
confusion_matrix(y_test, y_preds)

array([[20,  7],
       [ 5, 29]], dtype=int64)

In [114]:
accuracy_score(y_test,y_preds)

0.8032786885245902

In [119]:
# 5. Improve a model
#trying diff amount of n_estimators

np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on teest set: {clf.score(X_test,y_test) * 100:.2f}%")

Trying model with 10 estimators...
Model accuracy on teest set: 83.61%
Trying model with 20 estimators...
Model accuracy on teest set: 83.61%
Trying model with 30 estimators...
Model accuracy on teest set: 81.97%
Trying model with 40 estimators...
Model accuracy on teest set: 85.25%
Trying model with 50 estimators...
Model accuracy on teest set: 80.33%
Trying model with 60 estimators...
Model accuracy on teest set: 83.61%
Trying model with 70 estimators...
Model accuracy on teest set: 81.97%
Trying model with 80 estimators...
Model accuracy on teest set: 83.61%
Trying model with 90 estimators...
Model accuracy on teest set: 83.61%

In [123]:
# 6. saving model and loading it
import pickle
pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [125]:
loaded_model = pickle.load(open("random_forest_model_1.pkl","rb"))
loaded_model.score(X_test,y_test)

0.8360655737704918